name: Release & Publish

on:
  push:
    tags:
      # Note: this pattern is protected by a ruleset in the repo.
      # Any changes to this pattern must be reflected in the ruleset.
      - 'v*'

jobs:
  release:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: Checkout code
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          persist-credentials: 'false'
      - name: Create Release
        id: create_release
        uses: actions/create-release@0cb9c9b65d5d1901c1f53e5e66eaf4afd303e70e # v1.1.4 TODO this is unmaintained
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          tag_name: ${{ github.ref }}
          release_name: ${{ github.ref }}
          draft: false
          prerelease: false

  publish:
    runs-on: ubuntu-latest
    # Extra guard to make sure publishing is only on v* tags, which are protected.
    if: startsWith(github.ref, 'refs/tags/v')
    environment: 'NPM Trusted Publishing'
    permissions:
      contents: read
      id-token: write
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          persist-credentials: 'false'
      - name: Setup .npmrc file to publish to npm
        uses: actions/setup-node@395ad3262231945c25e8478fd5baf05154b1d79f # 6.1.0
        with:
          node-version: '25.2.0'
          registry-url: 'https://registry.npmjs.org'
          package-manager-cache: false
      - name: Install modules
        run: yarn
      - name: Build
        run: yarn build
      - name: Publish to npm
        run: npm publish
