name: Renovate

on:
  push:
    branches:
      - main
    paths:
      - 'renovate.json'
      - '.github/workflows/renovate.yml'

  pull_request:
    paths:
      - 'renovate.json'
      - '.github/workflows/renovate.yml'

permissions:
  contents: read

jobs:
  validate:
    name: Validate
    runs-on: ${{ github.repository_owner == 'grafana' && 'ubuntu-x64-small' || 'ubuntu-latest' }}
    steps:
      - name: Checkout code
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8
        with:
          persist-credentials: false

      - name: Validate Renovate Config
        uses: grafana/shared-workflows/actions/validate-renovate-config@4178c5d9a0403e8b8e123baebc66e224d9c4f3cd # validate-renovate-config/v0.1.0
