name: Renovate

on:
  push:
    branches:
      - main
    paths:
      - 'renovate.json'
      - '.github/workflows/renovate.yml'

  pull_request:
    paths:
      - 'renovate.json'
      - '.github/workflows/renovate.yml'

permissions:
  contents: read

jobs:
  validate:
    name: Validate
    runs-on: ${{ github.repository_owner == 'grafana' && 'ubuntu-x64-small' || 'ubuntu-latest' }}
    steps:
      - name: Checkout code
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd
        with:
          persist-credentials: false

      - name: Validate Renovate Config
        uses: grafana/shared-workflows/actions/validate-renovate-config@051f0a1cef0e1ef9f92fbe57c65b1eec029c3904 # validate-renovate-config/v0.1.1
